<!doctype html>
<html lang="en" data-bs-theme="dark">
  {% include 'head.liquid' %}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KLSCJ6PN"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include 'header' %}
    {{ content }}
    {% include 'cookie-consent.liquid' %}
    {% include 'footer' %}
  </body>
</html>
