<section class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto text-center">
                <h1 class="display-4 mb-4">{{ site.pages.home.hero.headline }}</h1>
                <p class="lead mb-4">{{ site.pages.home.hero.description }}</p>
                <div id="download">
                    <a href="{{ site.pages.home.hero.cta.url }}" class="btn btn-primary btn-lg">{{ site.pages.home.hero.cta.text }}</a>
                </div>
            </div>
        </div>
    </div>
</section>